div, body, p, a, h2, h3, head, nav, footer head, img{
    margin: 0;
    padding: 0;
    border:0;
}

@font-face{
    font-family: 'Roboto Thin';
    src: local(fonts/Roboto-Thin.ttf);
}

body{
    font-family: 'Roboto Thin';
    width: 100%;
}

.nav{
    width: 100%;
    background-color:transparent;
    position: fixed;
    z-index: 99;
}

#name{
    color: rgb(245,245,245);
    font-size: 1.14em;
    float: left;
    text-align: center;
    margin: 0% 0% 0% 10%;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}

#name:hover{
    color: rgb(252, 0, 198);
    font-weight: bolder;
}

#navcontent{
    color: rgb(245,245,245);
    font-size: 1.3em;
    float: right;
}

a{
    color: inherit;
    text-decoration: inherit;
    padding: 0em 1em 0em 1em;
}

a:hover{
    color: rgb(252, 0, 198);
}

#skipnav{
    position: fixed;
    color: rgb(245,245,245);
    font-size: 20px;
    margin: 3em 0em 0em 0em;
    z-index: 99;
    background: rgb(0,0,0);
    padding: 0.5em 0em;
    left: -10em;
}

a#skipnav:active,
a#skipnav:focus,
a#skipnav:hover{
    left:0em;
    z-index: 99;
}


#homebanner{
    height: 100vh;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: url(pictures/banner2.jpg);
    width: 100%;
    z-index: 97;
}

.intro{
    background-color: rgb(59,54,59);
    text-align: center;
    font-size: 20pt;    
    line-height: 1.7em;
    height: 100vh;
}

#pp{
    width: 600px;
    position: relative;
    top: -6em;
    z-index: 98;   
    transition: 1s;
    transition-delay: 0.5s;
}

#pp:hover{
    width: 700px;
}

article{
    position: relative;
    top: -5em;
    width: 60%;
    margin: 0 auto;
    border: 2px solid rgb(252, 200, 247);
    color: rgb(252, 200, 247);
    padding: 1em;
    overflow: auto;
    max-height: 36%;
    font-weight: bolder;
    height: 100vh;
}

.contact{
    background-color: black;
    height: 100vh;
}

#socialhead{
    color:rgb(252, 200, 247);
    font-size: 20pt;
    text-align: center;
    padding: 1em;
}

#insta, #facebook, #snapchat{
    position: relative;
    width: 128px;
    height: 128px;
    margin-left: 20%;
    margin-bottom: 2em;
}

.peek{    
    opacity: 0;
    transition: 0.5s ease-in;
    height: 0%;
    position: absolute;
    width: 0%;
    left: 35%;
    margin-top: -10em;
    transition: 1s ease-in;
    transition-delay: 0.5s;
    z-index: 99;
}

#insta:hover + .peek {
    opacity: 1;
    height: 30%;
    width: 50%;
}


#facebook:hover + .peek{
    opacity: 1;
    height: 30%;
    width: 50%;
}

#snapchat:hover + .peek{
    opacity: 1;
    width: 21%;
    height: 21%;    
}

.socialwords {
    color: white;
    position: relative;
    font-size: 30pt;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    top: -3em;
    transition: 1s ease-in;
    transition-delay: 1s;
}

footer{
    background-color: rgb(59,54,59);
    padding: 0.5em;
    text-align: right;
    font-size: 15pt;
    color: rgb(252, 200, 247);
}

#profilebanner{
    background-color: black;
    height: 100vh;
}