div,
body,
p,
a,
h2,
h3,
head,
nav,
footer head,
img,
figure {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

@font-face {
    font-family: "Roboto-Thin";
    src: url("fonts/Roboto-Thin.ttf") format("truetype");
}

if(navigator.userAgent.match(/Trident\/7\./)) { // if IE
        $('body').on("mousewheel", function () {
            // remove default behavior
            event.preventDefault(); 

            //scroll without smoothing
            var wheelDelta = event.wheelDelta;
            var currentScrollPosition = window.pageYOffset;
            window.scrollTo(0, currentScrollPosition - wheelDelta);
        });
}

body {
    font-family: "Roboto-Thin", sans-serif;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(252, 200, 247);
}

.nav {
    width: 100%;
    background-color: transparent;
    position: fixed;
    z-index: 99;
}

#name {
    color: rgb(245, 245, 245);
    font-size: 1.14em;
    float: left;
    text-align: center;
    margin-left: 10%;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}

#name:hover {
    color: rgb(252, 0, 198);
    font-weight: bolder;
}

#navcontent {
    color: rgb(245, 245, 245);
    font-size: 1.3em;
    float: right;
    margin-right: 10%;
}

a {
    color: inherit;
    text-decoration: inherit;
    padding-left: 1em;
    padding-right: 1em;
}

a:hover {
    color: rgb(252, 0, 198);
}

#skipnav {
    position: fixed;
    color: rgb(245, 245, 245);
    font-size: 20px;
    margin-top: 5%;
    z-index: 99;
    padding: 0.5em 0em;
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    left: -5.9em;
    transition: 0.5s ease-in;
    transition-delay: 0.5s;
}

#skipnavarrow {
    color: white;
}

#skipnav:active,
#skipnav:focus,
#skipnav:hover {
    left: 0em;
    color: white;
}

.container {
    height: 100vh;
    width:  100%;
}

#homebanner {
    height: 100vh;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: url(pictures/homebanner.jpg);
    width: 100%;
    z-index: 97;
}

.intro {
    background-color: rgb(56, 56, 56);
    text-align: center;
    font-size: 20pt;
    line-height: 1.7em;
    height: 100vh;
    z-index: 99;
}

#pp {
    width: 400px;
    position: relative;
    top: -6em;
    z-index: 98;
}

#homeintro {
    position: relative;
    top: -5em;
    width: 60%;
    margin: 0 auto;
    border: 2px solid rgb(252, 200, 247);
    color: rgb(252, 200, 247);
    padding: 1em;
    overflow: auto;
    max-height: 36%;
    font-weight: bolder;
    height: 100vh;
}

.contact {
    background-color: rgb(0, 0, 0);
    height: 140vh;
}

#socialhead {
    color: rgb(252, 200, 247);
    font-size: 20pt;
    text-align: center;
    padding: 1em;
}

#insta,
#facebook,
#snapchat {
    position: relative;
    width: 128px;
    height: 128px;
    margin-left: 20%;
    margin-bottom: 2em;
}

.peek {
    opacity: 0;
    transition: 0.5s ease-in;
    height: 0%;
    position: absolute;
    width: 0%;
    left: 40%;
    margin-top: -10em;
    transition: 1s ease-in;
    transition-delay: 0.5s;
    z-index: 99;
}

#insta:hover+.peek {
    opacity: 1;
    height: 30%;
    width: 50%;
}

#facebook:hover+.peek {
    opacity: 1;
    height: 30%;
    width: 50%;
}

#snapchat:hover+.peek {
    opacity: 1;
    width: 250px;
}

.socialwords {
    color: rgb(252, 200, 247);
    position: relative;
    font-size: 30pt;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    top: -3em;
    transition: 1s ease-in;
    transition-delay: 1s;
}

footer {
    background-color: rgb(56, 56, 56);
    padding: 0.5em;
    padding-left: 1em;
    text-align: right;
    font-size: 15pt;
    color: rgb(252, 200, 247);
}

#profilebanner {
    height: 100vh;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: url(pictures/profilebanner.png);
    width: 100%;
    z-index: 97;
}

#profilepp {
    margin-top: 10%;
    margin-left: -45%;
}

.navaside {
    position: fixed;
    float: left;
    z-index: 99;
    padding: 1em 1.5em;
    ;
    border: 4px solid rgb(252, 200, 247);
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    top: 30%;
    left: 1%;
}

.presection {
    margin: 0 auto;
    width: 50%;
    padding: 2em;
    position: relative;
    top: 30%;
}

.divtemp2 {
    background-color: rgb(0, 0, 0);
    height: 100vh;
}

#profiledivlayout {
    margin-left: 20%;
    width: 40%;
    position: relative;
    top: 15%;
    font-size: 15pt;
    float: left;
}

#text {
    padding: 1em 0em;
    margin-top: 0.5em;
    line-height: 2em;
    text-align: justify;
    border: 2px solid rgb(252, 200, 247);
    padding: 1em;
    max-height: 350px;
    overflow: auto;
}

#primarypic {
    width: 30%;
    margin-left: 65%;
    margin-top: -17%;
}

#primarypiccap {
    width: 30%;
    margin-left: 65%;
    text-align: center;
    font-size: 14pt;
}

.divtemp3 {
    background-color: rgb(160, 6, 108);
    height: 100vh;
}

#secondarypic {
    width: 24%;
    margin-left: 2em;
    margin-top: 8em;
}

#secondarypiccap {
    width: 25%;
    margin-left: 63%;
    text-align: center;
    font-size: 14pt;
}

.divtemp1 {
    background-color: rgb(56, 56, 56);
    height: 100vh;
}

#polypic {
    width: 28%;
    margin-left: 2em;
    margin-top: 8em;
}

#polypiccap {
    width: 25%;
    margin-left: 63%;
    text-align: center;
    font-size: 14pt;
}

#christpic {
    width: 30%;
    margin-left: 2em;
    margin-top: 9em;
}

#christpiccap {
    width: 25%;
    margin-left: 65%;
    text-align: center;
    font-size: 14pt;
}
