/* 
   WCD CA2
    Filename: main.css
    Author: P1625439
    Date: 8 February 2017
 */


/*reset all styles*/

article,
aside,
div,
footer,
header,
h1,
h2,
h3,
h4,
h5,
h6,
p,
nav,
body,
head,
img,
section,
figure,
a,
iframe,
li,
ul {
    margin: 0;
    padding: 0;
    border: 0;
}


/*end of reset all elements*/


/* import font */


/*
@font-face {
    font-family: 'LeagueGothic-Regular';
    src: url('fonts/LeagueGothic-Regular.eot');
    src: url('fonts/LeagueGothic-Regular.woff2') format('woff2'), url('fonts/LeagueGothic-Regular.woff') format('woff'), url('fonts/LeagueGothic-Regular.ttf') format('truetype'), url('fonts/LeagueGothic-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Light';
    src: url('fonts/Gotham-Light.eot');
    src: url('fonts/Gotham-Light.woff2') format('woff2'), url('fonts/Gotham-Light.woff') format('woff'), url('fonts/Gotham-Light.ttf') format('truetype'), url('fonts/Gotham-Light.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Medium';
    src: url('fonts/Raleway-Medium.eot');
    src: url('fonts/Raleway-Medium.woff2') format('woff2'), url('fonts/Raleway-Medium.woff') format('woff'), url('fonts/Raleway-Medium.ttf') format('truetype'), url('fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}


/* end of importing font */


/*
html {
    height: 100%;
    background-image: url(images/seamless_paper_texture.png);
}

body {
    font-family: "Raleway-Medium";
}

.container {
    margin: 0 auto;
}

header {
    font-size: 40px;
    float: left;
    padding-top: 0.5%;
    padding-left: 5%;
    font-family: "LeagueGothic-Regular";
    color: #FFFFFF;
}

nav {
    width: 60%;
    float: right;
    text-align: right;
    font-size: 30px;
    font-family: "LeagueGothic-Regular";
    color: #FFFFFF;
    display: none;
    padding-top: 2%;
}

nav li {
    list-style: none;
    display: inline;
}

a {
    color: inherit;
    text-decoration: inherit;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

a:hover {
    color: #FF3F80;
}

.navigate {
    width: 100%;
    background-color: #3E50B4;
    position: fixed;
    box-shadow: 1px 1px 10px #888888;
    z-index: 99;
    display: none;
}

.mobilespacer {
    display: inline;
}

.mobilenav {
    display: inline;
    width: 100%;
    background-color: #FF4081;
    position: fixed;
    box-shadow: 1px 1px 10px #888888;
    z-index: 99;
}

.whitebox {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 40vw;
    max-width: 80%;
    background-image: url(images/crossword.png);
    box-shadow: 2px 2px 10px #888888;
    margin-bottom: 5%;
    margin-top: 10%;
}

.mobilenav h1 {
    font-size: 100%;
    color: #000000;
}

#profilepic {
    float: none;
    margin: 0;
    padding: 0;
    padding-top: 10%;
    text-align: center;
}

#profilepic img {
    width: 30vw;
}

#profilepic figcaption {
    width: 20vw;
    margin: 0 auto;
    font-size: 50px;
    font-size: 6vw;
    font-family: "LeagueGothic-Regular";
}

#introtext {
    width: 80%;
    font-size: 3vw;
    margin: 0 auto;
    margin-bottom: 25%;
    line-height: 1.5em;
    text-align: center;
    border: none;
    border-top: 3px solid #000000;
    padding: 0;
    padding-top: 5%;
    margin-top: -10%;
    position: relative;
    top: 4em;
}

#introtext li {
    list-style: none;
}

#contact {
    background-image: url(images/crossword.png);
    box-shadow: 2px 2px 10px #888888;
}

.whiteboxheader {
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
    font-size: 5vw;
    padding: 5%;
}

.whiteboxcontentheader {
    text-align: left;
    font-size: 2.5vw;
    padding: 1%;
    padding-left: 6%;
    text-decoration: underline;
}

.socialmedia {
    display: block;
    margin: 0 auto;
    padding: 5%;
}

.socialmedia img {
    width: 20vw;
}

.socialmedia h2 {
    font-size: 4vw;
    margin: 0 auto;
}

legend {
    font-weight: bold;
}

label {
    display: block;
    width: 100%;
    margin: 0.2em;
}

form {
    margin: 0 auto;
    width: 50%;
}

input {
    width: 20vw;
}

.submitbutton input {
    width: 25%;
}

h3 {
    margin: 0 auto;
    text-align: center;
    padding: 1em;
}

.dropbtn {
    font-family: "LeagueGothic-Regular";
    font-size: 30px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: #FFFFFF;
}

.dropbtn:hover {
    color: #FF4081;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: 30px;
    text-align: left;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #FF4081;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.profile a {
    display: block;
    margin: 0 auto;
    font-size: 200%;
    width: 100px;
    margin-bottom: 2%;
}

.whiteboxcontentheader {
    font-size: 150%;
    text-align: center;
    padding: 2%;
}

.pic {
    width: 40vw;
    width: 80%;
    margin: 0 auto;
    float: none;
    margin-left: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 2.5vw;
}

.caption {
    font-size: 2vw;
    width: 80%;
    margin: 0 auto;
    float: none;
    font-style: italic;
    padding: 1%;
}

.text {
    width: 80%;
    margin: 0 auto;
    font-size: 4vw;
    border: 1px solid #000000;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 5%;
    max-height: 60vh;
    overflow: auto;
    text-align: justify;
}

footer {
    background-color: #3E50B4;
    font-size: 20px;
    box-shadow: -1px -1px 10px #888888;
    padding: 2%;
    font-size: 90%;
    text-align: center;
    background-color: #FF4081;
    color: #000000;
}

#bbpic {
    height: auto;
    margin-left: 30vw;
    margin-right: 13vw;
    width: 20vw;
}

form {
    margin: 0 auto;
    width: 80%;
}

.greeting {
    display: none;
    font-size: 4vw;
    text-align: center;
    font-family: "Gotham-Light";
    padding-top: 15%;
    height: 30vw;
}*/

.navigate {
    display: none
}

.greeting {
    display: none;
}

.mobilespacer {
    display: none;
}

header {
    font-size: 30px;
}

.mobilenav {
    display: inline;
    width: 100%;
    background-color: #FF4081;
    position: fixed;
    box-shadow: 1px 1px 10px #888888;
    z-index: 99;
}

.mobilenav h1 {
    font-size: 100%;
    color: #000000;
}

nav {
    padding: 0;
    padding-top: 2%;
}

#profilepic {
    float: left;
    margin-left: 5%;
    margin-top: 5vw;
    padding: 0;
}

#profilepic img {
    width: 20vw;
}

#profilepic figcaption {
    width: 20vw;
    text-align: center;
}

#introtext {
    width: 50%;
    font-size: 1.8vw;
    text-align: left;
    border: none;
    padding: 0;
    margin-right: 5%;
    padding-left: 5%;
    border-left: 3px solid #000000;
}

.whiteboxheader {
    padding: 2%;
}

.socialmedia {
    display: block;
    margin: 0 auto;
    padding: 5%;
}

.socialmedia img {
    width: 20vw;
}

.socialmedia h2 {
    font-size: 4vw;
    margin: 0 auto;
}

.whitebox {
    margin-top: 5%;
}

.submitbutton input {
    width: 25%;
}

.profile a {
    display: block;
    margin: 0 auto;
    font-size: 200%;
    width: 100px;
    margin-bottom: 2%;
}

.whiteboxcontentheader {
    font-size: 150%;
    text-align: center; (left)
    padding: 2%;
}

.pic {
    width: 80%;
    margin: 0 auto;
    float: none;
    margin-left: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.caption {
    font-size: 2vw;
    width: 80%;
    margin: 0 auto;
    float: none;
    font-style: italic;
}

.text {
    width: 80%;
    margin: 0 auto;
    font-size: 4vw;
    border: 1px solid #000000;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 5%;
}

footer {
    margin: 0;
    padding: 0;
    padding: 2%;
    font-size: 90%;
    text-align: center;
    background-color: #FF4081;
    color: #000000;
}

#bbpic {
    height: auto;
    margin-left: 30vw;
}

form {
    width: 80%;
}
